<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Theming" description="Foundation Theming" dependencies="Foundation.Serialization,Foundation.SitecoreExtensions,Foundation.Assets" extends="Helix.Foundation">
                    <targetDataStore physicalRootPath="$(serializationSource)Foundation\Theming\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate>
                        <include name="Settings" database="master" path="/sitecore/system/settings/Foundation/Theming" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>