<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.FAQ" description="Feature FAQ" dependencies="Foundation.*" extends="Helix.Feature">
                    <targetDataStore physicalRootPath="$(serializationSource)Feature\FAQ\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <rolePredicate>
                        <include domain="modules" pattern="^Feature FAQ .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>